/* css styles for all files ========== */

@font-face{
    font-family: "LexendPeta";
    src: url("../fonts/LexendPeta-Light.ttf")
}

@font-face{
    font-family: "CormorantUpright";
    src: url("../fonts/CormorantUpright-Regular.ttf")
}

*{
    margin: 0;
    padding: 0;
}

.bg-cream {
    background-color: #FFFAF4
}

.bg-brown {
    background-color: #351B00
}

.text-cream {
    color: #FFFAF4
}

.text-brown {
    color: #351B00
}


.cormorant-upright-20 {
    font-family: "CormorantUpright";
    font-size: 20px;
}

.cormorant-upright-12 {
    font-family: "CormorantUpright";
    font-size: 12px;
}

.lexend-peta-12 {
    font-family: "LexendPeta";
    font-size: 12px;
}

.lexend-peta-20 {
    font-family: "LexendPeta";
    font-size: 20px;
}

ul{
    list-style-type: none;
}

/* css styles custom to dashboards ========== */

.btn-outline-brown {
    border: 1px solid #351B00;
    color: #351B00;
}

/* styling icons */
i{
    font-size: 1rem;
    color: #FFFAF4;
    /* color: #351B00; */
    width: fit-content;
}

li div{
    /* width: fit-content; */
    text-align: center;
}

.topbar{
    width: 100%;
    /* border-bottom: 1px solid #351b00; */
    z-index: -1;
}

hr{
    color: #351b00;
    height: 1px;
    opacity: 100%;
    /* width: 100%; */
    margin: 0px;
}

/* .content{
    margin-left: 50px;
} */

.tabpages{
    display: none;
}

/* .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #f8f9fa;
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 60px;
}

.sidebar:not(.collapsed) {
    width: 200px;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: -40px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.icon-bar,
.nav-panel ul {
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
    align-items: center;
}

.nav-panel ul {
    align-items: flex-start;
}

.sidebar.collapsed .nav-panel {
    display: none;
}

.sidebar.collapsed .icon-bar {
    display: flex;
}

.sidebar:not(.collapsed) .icon-bar {
    display: none;
} */